/* Tirar depois que as telas estiverem prontas */
.container-fluid {
    background: white;
}

/* Cor usada como fundo de cada elemento */
body,
.header,
.sidebar,
.footer,
.rights {
    background: hsl(230, 100%, 21%);
}

/* Cria um texto depois da div que está dentro da header */
.header div::after {
    content: "THE CODE";
    color: hsl(0, 0%, 100%);
    font-weight: bold;
    font-size: 20px;
    position: absolute;
    height: 43px;
    line-height: 70px;
}

/* Para aumentar o preenchimento do top e do bottom do elemento */
.header {
    padding: 20px 0px;
}
.footer {
    padding: 10px 0px;
}

/* Formatação dos links que estão na sidebar */
.sidebar a {
    color: hsl(0, 0%, 100%);
    font-size: 18px;
}
.nav > li > a:focus,
.nav > li > a:hover,
.nav .open > a,
.nav .open > a:focus,
.nav .open > a:hover{
    color: hsl(0, 0%, 0%);
}

/* Formatação dos links que estão no footer */
.footer div a {
    color: hsl(0, 0%, 100%);
    text-decoration: none;
}

/* Formatação do texto que está no rights */
.rights div {
    display: flex;
    align-items: center;
    justify-content: center;
    color: hsl(0, 0%, 100%);
    font-size: 12px;
    padding-top: 10px;
}

/* Classe feita para criar um espaço entre as partes do layout */
.division {
    height: 30px;
    background: hsl(0, 0%, 100%);
}

.sexo,
.status {
    height: 59px !important;
}
#formlogin{
    
    text-align: center;
       
}
#formlogin{

width: 800px; 
height: 650px; 
left: 50%; 
margin: -130px 0 0 -210px; 
padding:250px;
position: relative; 
top: 50%;
   
}
#formesquecersenha{
    
width: 800px; 
height: 700px; 
left: 50%; 
margin: -130px 0 0 -210px; 
padding:120px;
position: relative; 
top: 50%;
    
    
}